.modal {
	position: relative;
	display: flex;
	width: 792px;
	padding-top: 32px;
	padding-bottom: 39px;
	margin: auto;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	background-color: var(--backgrounds-parent, #f2f0f9);
	color: var(--fonts-primary-variant, #6e6893);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
	cursor: default;
}

.modal__container {
	margin: 0 auto;
}

.modal__heading-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 22px;
	padding-bottom: 21px;
	border-bottom: solid 1px var(--fonts-stroke, #c6c2de);
}

.modal__title {
	font-weight: 700;
	font-size: 24px;
	line-height: normal;
	letter-spacing: 0.1em;
}

.modal__id {
	display: none;
	align-self: center;
	font-size: 10px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	color: var(--fonts-id, #c5c5c5);
}

.modal__id--open {
	display: block;
}

.modal__product {
	margin-bottom: 28px;
}

.modal__input-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-template-rows: repeat(5, 60px);
	grid-template-areas:
		"name     description"
		"category description"
		"units    quantity"
		"discount price"
		"error      add-file";
	gap: 12px 24px;
	padding: 28px;
	background-color: var(--backgrounds-primary, #fff);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.modal__name {
	grid-area: name;
}

.modal__category {
	grid-area: category;
}

.modal__units {
	grid-area: units;
}

.modal__input-discount {
	display: block;
	max-width: 200px;
	margin-left: auto;
}

.modal__input-discount::-webkit-outer-spin-button,
.modal__input-discount::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
.modal__input-discount,
.modal__input-discount:hover,
.modal__input-discount:focus {
	appearance: none;
	-moz-appearance: textfield;
}

.modal__discount {
	position: relative;
	grid-area: discount;
}

.modal__description {
	grid-area: description;
}

.modal__quantity {
	grid-area: quantity;
}

.modal__price {
	grid-area: price;
}

.modal__add-file {
	grid-area: add-file;
	position: relative;
	align-self: end;
	cursor: pointer;
}

.modal__error {
	grid-area: error;
	display: none;
	padding-bottom: 6px;
	align-self: end;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: var(--error);
	overflow: hidden;
	white-space: pre-wrap;
}

.error .modal__error {
	display: block;
}

.modal__input {
	width: 100%;
	padding: 10px;
}

.modal__input,
.modal__input-discount,
.modal__input-checkbox {
	min-height: 40px;
	background-color: var(--backgrounds-stripe, #f4f2ff);
	border-radius: 6px;
}

.modal__input-text {
	display: block;
	margin-bottom: 5px;
	padding-left: 11px;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.6px;
}

.modal__input-checkbox {
	position: absolute;
	display: block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}

.modal__input-checkbox:after {
	content: "";
	position: absolute;
	display: inline-block;
	top: 20px;
	width: 40px;
	height: 40px;
	background-color: var(--backgrounds-stripe, #f4f2ff);
	border-radius: 6px;
}

.modal__input-checkbox:checked:after {
	background-image: url(../image/check.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.modal__textarea {
	width: 100%;
	min-height: 112px;
	resize: none;
}

.modal__input-file {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	opacity: 0;
	z-index: -1;
}

.modal__input-file-text {
	display: block;
	min-height: 39px;
	padding: 11px 20px;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--primary, #6d5bd0);
	color: var(--backgrounds-primary, #fff);
	border-radius: 6px;
}

.amount-goods {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 5px;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 28px;
}

.amount-goods__wrapper {
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
	align-items: center;
	padding-top: 3px;
}

.amount-goods__description {
	display: inline-block;
	padding-right: 5px;
	font-size: 14px;
	line-height: 17px;
	text-transform: none;
	color: var(--fonts-primary-variant, #6e6893);
}

.amount-goods__price {
	display: inline-block;
	max-width: 147px;
	margin-right: 6px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--primary, #6d5bd0);
}

.modal__btn-add-product {
	min-width: 200px;
	padding: 10px 25px;
	line-height: 19px;
	text-transform: inherit;
	background-color: var(--primary, #6d5bd0);
	color: var(--backgrounds-primary, #fff);
	border-radius: 6px;
}

.modal__preview-wrapper {
	position: relative;
	width: 200px;
	display: none;
	margin: 0 auto;
	padding-top: 30px;
	background-color: transparent;
}

.modal__preview {
	object-fit: cover;
	object-position: center;
	width: 200px;
	height: 200px;
	transition: all 0.5s linear;
	background-color: transparent;
}

.modal__preview-remove {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	transform: translate(-50%, -50%);
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s linear;
	color: var(--backgrounds-primary, #fff);
}

.modal__preview-wrapper:hover .modal__preview {
	filter: brightness(50%);
	transition: all 0.3s linear;
}

.modal__preview-wrapper:hover .modal__preview-remove {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s linear;
}

.modal__preview-remove:hover {
	color: var(--preview-remove);
	transition: all 0.3s linear;
}

.modal__btn-close {
	position: absolute;
	top: 18px;
	right: 26px;
}

@media (max-width: 700px) {
	.modal__container {
		padding-right: 5vw;
		padding-left: 5vw;
	}

	.modal__input-wrapper {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px 10px;
	}

	.modal__container {
		width: 100%;
	}

	.amount-goods {
		flex-direction: column;
		padding: 0 5px;
		gap: 20px;
	}
}

@media (max-width: 585px) {
	.modal__input-wrapper {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9, 60px);
		grid-template-areas:
			"name "
			"category"
			"units "
			"discount"
			"description"
			"description"
			"quantity"
			"price"
			"add-file"
			"error";
	}

	.modal__discount,
	.modal__input {
		width: 250px;
	}

	.modal__textarea,
	.modal__input-name {
		width: 100%;
	}

	.modal__add-file {
		max-width: 250px;
	}

	.modal__error {
		text-align: left;
	}

	.amount-goods__wrapper {
		max-width: 80%;
	}
}

@media (max-width: 362px) {
	.modal {
		padding-top: 10px;
	}
	.modal__title {
		font-size: 18px;
	}

	.modal__input-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

	.modal__discount,
	.modal__input {
		width: 100%;
	}

	.modal__input-file-text {
		font-size: 12px;
	}

	.modal__btn-close {
		top: 10px;
		right: 20px;
	}
}
