
.modal__description-total-cost {
  margin: 0;
  display: inline-block;
  text-transform: none;
   font-weight: normal;
  font-size: 14px;
  line-height: 17px; 
}



.modal {
    position: relative; 
   display: inline-block;
   vertical-align: middle;
   font-weight: 600;
   text-transform: uppercase;
   text-align: left;
   background-color: var(--backgrounds-parent, #F2F0F9);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
   cursor: default;
}

.modal__container {
  padding: 32px 106px 39px;
}

.modal__title {
margin-bottom: 22px;
padding-bottom: 21px;
font-weight: 700;
font-size: 24px;
line-height: normal;
letter-spacing: 0.1em;
border-bottom: solid 1px  var(--fonts-stroke, #C6C2DE);
}

.modal__product {
  margin-bottom: 28px;
}

.modal__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(5, 60px);
   grid-template-areas: 
    "name     description"
    "category description"
    "units    quantity"
    "discount price"
    "...      add-file"; 
  gap: 12px 24px;
  padding: 28px;
  background-color: var(--backgrounds-primary, #fff);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.modal__name {
  grid-area: name;
}

.modal__category {
  grid-area: category;
}

.modal__units {
  grid-area: units;
}

.modal__input-discount {
  display: block;
  max-width: 200px;
  margin-left: auto; 

} 

.modal__discount {
  position: relative;
  display: inline-block;
  grid-area: discount;
}

.modal__description {
  grid-area: description;
}

.modal__quantity {
  grid-area: quantity;
}

.modal__price {
  grid-area: price;
}

.modal__add-file {
  grid-area: add-file;  
  position: relative;
	display: inline-block;
  align-self: end;
}

.modal__input {
  width: 100%;
}

.modal__input,
.modal__input-discount,
.modal__input-checkbox {
  min-height: 40px;
  background-color: var(--backgrounds-stripe, #f4f2ff);
  border-radius: 6px;
}

.modal__input-text {
  display: block;
  margin-bottom: 5px;
  padding-left: 11px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.6px;
}


.modal__input-checkbox{
  position: absolute;
  display: block; 
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;  
}


.modal__input-checkbox:after {
   content: "";
 position: absolute;
  display: inline-block;
top: 20px;
   width: 40px; 
   height: 40px; 
  background-color: var(--backgrounds-stripe, #f4f2ff);
  border-radius: 6px; 
}

.modal__input-checkbox:checked:after {
  background-image: url(../image/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal__textarea {
  resize: none;
  width: 100%;
  min-height: 112px;
}



.modal__input-file-text {
  display: block;
  min-height: 39px;
  padding: 11px 20px;
  color:  #FFF;
font-size: 14px;

font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border-radius: 6px;
background: #6D5BD0;
}

.modal__input-file {
  position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.modal__wrapper-cost {
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.modal__total-cost {
   font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #6D5BD0; 
}

.modal__btn-close {
  position: absolute;
  /* display: block; */
  top: 20px;
 right: 30px;
  /* line-height: 0; */
  
}

.modal__btn-add-product {
  /* margin-left: 352px; */
padding: 10px 25px;

line-height: 19px;
color: #fff;
text-transform: inherit;
background-color: #6d5bd0;

border-radius: 6px;
}


@media (max-width: 850px) {
  
.modal__container {
  padding-right: 5vw;
  padding-left: 5vw
}

.modal__input-wrapper {

  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(5, 60px); */
   /* grid-template-areas: 
    "name     description"
    "category description"
    "units    quantity"
    "discount price"
    "...      add-file";  */


  /* column-gap: 24px; */
  column-gap: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
}

@media (max-width: 580px) {
  .modal__input-wrapper {

    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(9, 60px);
      grid-template-areas: 
      "name "
      "category" 
      "units "
      "discount"
      "description"
      "description"
         "quantity"
       "price"
      "add-file";  
  
    /* column-gap: 24px; */
    /* column-gap: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px; */
  }



  .modal__wrapper-cost {
    /* padding-left: 28px;
    padding-right: 28px; */
    display: flex;
   flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }

  .modal__container {
    padding-right: 10px;
    padding-left: 10px;
    max-width: 400px;
  }
}