:root {
  --primary: #6d5bd0;
  --fonts-primary: #25213b;
  --fonts-primary-variant: #6e6893;
  --backgrounds-primary: #fff;
  --backgrounds-parent: #f2f0f9;
  --fonts-stroke: #c6c2de;
  --fonts-id: #c5c5c5;
  --backgrounds-stripe: #f4f2ff;
  --fonts-primary-icon: #8b83ba;
  --background: #d9d5ec;
}